{% extends 'admin/index.html.twig' %}
{% block admin %}
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">


					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Détail Client</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table class="table">
								<tbody>

									<tr>
										<th>Email</th>
										<td>{{ user.mail }}</td>
									</tr>


									<tr>
										<th>Nom</th>
										<td>{{ user.nom }}</td>
									</tr>
									<tr>
										<th>Prénom</th>
										<td>{{ user.prenom }}</td>
									</tr>
									<tr>
										<th>Adresse</th>
										<td>{{ user.addresse }}</td>
									</tr>
									<tr>
                <th>Numero_telephone</th>
                <td>{{ user.numeroTelephone }}</td>
            </tr>
									

								</tbody>
							</table>
                            
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
{% endblock %}
