{% extends 'projet.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block body %}
    <h1>Projet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdProjet</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Competence</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.idProjet }}</td>
                <td>{{ projet.titre }}</td>
                <td>{{ projet.description }}</td>
                <td>{{ projet.prix }}</td>
                <td>{{ projet.competence }}</td>
                <td>
                    <a href="{{ path('app_projetuser_show', {'idProjet': projet.idProjet}) }}">show</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  <center>  <a href="{{ path('app_projetuser_new') }}">Create new</a> </center>
{% endblock %}
