{% extends 'front.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}

<div class="form-container" style="border: 1px solid #ccc; padding: 200px;">
    <h1>Projet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Createur de projet</th>
                <td>{{ nom }} {{prenom}}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ projet.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ projet.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ projet.prix }}</td>
            </tr>
            <tr>
                <th>Competence</th>
                <td>{{ projet.competence }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_projetuser_index') }}">back to list</a>
    <button onclick="window.print()">PDF</button>
    

    </div>
{% endblock %}
