{% extends 'baseuser.html.twig' %}

{% block body %}
<br>
<br>
    <section class="section register">
        {% for message in app.flashes('message') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}

        {% for danger in app.flashes('danger') %}
            <div class="alert alert-danger">
                {{ danger }}
            </div>
        {% endfor %}

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <h2 class="mb-3">Réinitialisation du mot de passe</h2>
                {{ form_start(form) }}
                <div class="form-floating mb-3">
                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Nouveau mot de passe'}}) }}
                    {{ form_label(form.password, 'Mot de passe') }}
                </div>
                
                <button class="btn btn-primary w-100 mb-3" type="submit">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
